@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}


h1{
    
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background:linear-gradient(to right,#fcc133,#334efc);
    -webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center
    
}
h2{
    
    font-family: 'Roboto', sans-serif;
    
    background:linear-gradient(to right,#fcc133,#334efc);
    -webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center
    
    
}


body{
    margin: 5px;
    padding: 5px;
    background-color: white;
    width: 90%;
    height: 450px;
    background-repeat: no-repeat;
    background-size:cover;

}

input{
    background-image: linear-gradient(to bottom right,white,pink);
    width: 30%;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    
    align-items: flex-end;
    
}


input:active{
box-shadow:  0 2px rgb(228, 67, 166);
transform: translateY(3px);
}



form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#peso{
    display: flex;
    width: 20%;
    height: 20px;
    border-radius: 10px;
}

#altura{
    width: 20%;
    height: 20px;
    border-radius: 10px;
    display: flex;

   
}